* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
 :root{
 --text-color:white;
 --bg-url:url(./background-1200x800.jpg);
 --stroke-color: rgba(51, 45, 45, 0.902);
 --surface-color:rgba(81, 22, 22, 0.626);
 --switch-bg-url:url(./moon.svg);
 }
   .light{
    --text-color:black;
   --bg-url:url(./fundo\ branco.jpg);
   --stroke-color: rgba(46, 4, 255, 0.416);
   --surface-color:rgba(31, 143, 141, 0.626);
   --switch-bg-url:url(./sun.svg);
  }
   
body {
       background: var(--bg-url);
        
     }
body{
   background-repeat:top no-repeat;
  background-size: cover;
  
 }
h1{
color:var(--text-color);
}
t1{
  color: aliceblue;
}
t2{
  color: rgb(246, 6, 6);
}
#conteiner {
  margin: 56px auto 0px ;
  max-width: 588px;
  width: 100%;
  padding-top: 60px;
  padding: 0 24px;

}
 #profile{
  text-align: center;
  padding: 24px;
 }
#profile img{
 width: 120px;
 border-radius: 50%;
 
 

}
#switch{

  position:relative;
  width: 64px;
  margin: 4px auto;
}
#switch button{
width: 30px;
height: 30px;
background: white var(--switch-bg-url)  no-repeat center;
border: 0;
border-radius: 50%;
position: absolute;
z-index: 1;
left: 0;
transform: translateY(-50%);
top: 50%;

}

 .light #switch button{
  right: 0;
  left: initial;
 }

 #switch span{
display: block;

width: 64px;
height: 24px;
left: 0px;
top: calc(50% - 24px/2);

background:var(--surface-color);


border: 1px solid var(--stroke-color);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);


border-radius: 9999px;
  
  }

 
   body * {
    color: var(--text-color);
  
  }
   #profile p {
    font-weight: 600;
    font-size: 20pxpx;
    line-height: 24px;
    margin-top: 8px;
    
   }
   ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 0;
   }
   ul li a {
  
    display: flex;
    justify-content: center;
    padding: 16px 24px;
    align-items: center;
    background:var(--surface-color);
    border: 1.5px solid var(--stroke-color);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 600;
    transition:background 0.2s;
   }
   ul li a:hover{
    background: rgba(255,255,255,0.05);
    border: 1.5px solid var(--text-color);

   }
   #social-links{
    display: flex;
    gap: 32px;
    padding: 24px 0;
    font-size: 24px;
justify-content: center;
   }

   #social-links a{
    display: flex;
    justify-content: center;
    transition: background 0.2;
   }
  
  
   #social-links a:hover {
    background: rgba(167, 13, 15, 0.5);
     padding: 20px;
     border-radius: 50%;
   }
   footer{
    color:var(--text-color);
    text-align: center;
    padding:24PX 0 ;
    font-size: 14PX;
     
   }